version: "3"
services:
  logstash:
    image: my-backend-app
    ports:
      - "8080:8080"
    command: npm start
    volumes:
      - /home/ubuntu/backend_custom_logs:/backend/logs/


#  git config user.email "abhinavdubey8989@gmail.com"
#  git config user.email "abhinavdubey8989"

#============== start ==================
#sudo docker build -t my-backend-app .      
#sudo docker-compose up -d
#sudo docker-compose down

#go inside container => sudo docker exec -it <contaner-id/name> bash


#============== clean up ==================
#1. remove container : sudo docker container prune
#2. remove image : sudo docker rmi my-backend-app


#============== AWS Resources ==================
#elb : alb-1710564136.ap-south-1.elb.amazonaws.com
#public-a : 13.127.110.239
#public-b : 13.126.207.199

#bastion-host : 13.232.118.7

#private-a : 10.0.4.200
#private-b : 10.0.5.59